SUPABASE_URL=https://bpkpydfvevlktyeapunf.supabase.co
SUPABASE_SERVICE_ROLE_KEY=ISI_SERVICE_ROLE_KEY_SUPABASE
ADB_PATH=C:\Users\fachr\AppData\Local\Android\Sdk\platform-tools\adb.exe
HTTP_TOOLKIT_MCP=C:\Users\fachr\AppData\Local\Programs\HTTP Toolkit\resources\httptoolkit-mcp.cmd
